DATABASE_URL="postgresql://postgres:postgres@localhost:5432/ainotetaker?schema=public"
PORT=3001
CORS_ORIGIN=http://localhost:3000
JWT_SECRET=change-me-to-a-random-secret

BREVO_SMTP_HOST=smtp-relay.brevo.com
BREVO_SMTP_PORT=587
BREVO_SMTP_USER=your_brevo_login_email
BREVO_SMTP_PASS=your_brevo_smtp_key
BREVO_SENDER_EMAIL=noreply@example.com
BREVO_SENDER_NAME=Untools Notes


# OpenAI Configuration
# OpenAI API Key
OPENAI_API_KEY=your_openai_api_key
# OpenAI Whisper Model
OPENAI_WHISPER_MODEL=whisper-1

